<header class="header">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a role="button" class="navbar-burger BT-OpenSideBar" aria-label="menu" aria-expanded="false" data-target="menu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
			<a class="navbar-item navbar-item-logo" href="//bindtuning.com" rel="noopener">
				<figure class="logo">
					<img src="//bindtuning.com/images/btlogo_black.png" alt="bindtuning logo">
				</figure>
			</a>
			<div class="icon-enter">
				<a href="https://app.bindtuning.com/login" rel="noopener">
					<i class="ion-ios-contact is-size-3"></i>
				</a>
			</div>
			<!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a> -->
		</div>

		<div id="menu" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown">
					<div class="navbar-link is-arrowless" aria-haspopup="true" aria-controls="dropdown-menu">
						Features
					</div>
					<div class="navbar-dropdown is-megamenu  is-hidden-mobile" id="submenu-dropdown" role="menu">
						<div class="container">
							<a href="//bindtuning.com/design" class="navbar-item branding" rel="noopener">
								<h3 class="title is-4">
									<figure class="image">
										<img src="//bindtuning.com/images/menu-design.png" alt="design logo">
									</figure>
									Design
								</h3>
								<p class="nav-mobile">
									Align your intranet design mirroring your brand identity.
								</p>
							</a>
							<a href="//bindtuning.com/build" class="navbar-item build" rel="noopener">
								<h3 class="title is-4">
									<figure class="image">
										<img src="//bindtuning.com/images/menu-brand.png" alt="brand logo">
									</figure>
									Build
								</h3>
								<p class="nav-mobile">
									Create an experience that meets your company's needs.
								</p>
							</a>
							<a href="//bindtuning.com/teams" class="navbar-item teams" rel="noopener">
								<h3 class="title is-4">
									<figure class="image">
										<img src="//bindtuning.com/images/menu-teams.png" alt="ms teams logo">
									</figure>
									Teams
								</h3>
								<p class="nav-mobile">
									Simple to use, powerful tools for Microsoft Teams.
								</p>
							</a>
						</div>
					</div>

					<div class="navbar-dropdown is-hidden-desktop">
						<a href="//bindtuning.com/design" class="navbar-item branding" rel="noopener">
							Design
						</a>
						<a href="//bindtuning.com/build" class="navbar-item build" rel="noopener">
							Build
						</a>
						<a href="//bindtuning.com/teams" class="navbar-item teams" rel="noopener">
							Teams
						</a>
					</div>
				</div>

				<div class="navbar-item has-dropdown">
					<a class="navbar-link is-arrowless has-children">
						Explore
					</a>

					<div class="navbar-dropdown">
						<a href="//bindtuning.com/starter-kits" class="navbar-item" rel="noopener">
							Starter Kits
						</a>
						<a href="//bindtuning.com/deploy" class="navbar-item" rel="noopener">
							Deploy
						</a>
						<a href="//bindtuning.com/pricing" class="navbar-item" rel="noopener">
							Pricing
						</a>
					</div>
				</div>

				<div class="navbar-item has-dropdown">
					<a class="navbar-link is-arrowless" rel="noopener">
						Resources
					</a>

					<div class="navbar-dropdown">
						<a href="//bindtuning.com/resources/blog" class="navbar-item" rel="noopener">
							Blog
						</a>
						<a href="//bindtuning.com/resources/case-study" class="navbar-item" rel="noopener">
							Customer Stories
						</a>
						<a href="//bindtuning.com/resources/session" class="navbar-item" rel="noopener">
							Webinars
						</a>
						<a href="https://support.bindtuning.com/hc/en-us" class="navbar-item" target="_blank" rel="noopener">
							Support
							<i class="ion-ios-log-out is-size-5 has-text-black"></i>
						</a>
					</div>
				</div>
			</div>

			<hr class="is-hidden-desktop">
			<div class="navbar-end">
				<a href="https://app.bindtuning.com/login" class="login-link" rel="noopener">
					Sign in
				</a>
				<span>
					or
				</span>
				<div class="field has-addons">
					<div class="control">
						<form>
							<input id="getstarted-input-header" class="input is-primary has-background-white getstarted-field" type="text" placeholder="Your email address">
						</form>
					</div>
					<div class="control">
						<a href="#" class="button is-black getstarted-click" rel="noopener">
							get started
						</a>
					</div>
				</div>
			</div>
	</div></nav>
</header>
